
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.login {
  &-left-panel{
    background-color: #00b69f;

    .content-area{
      margin-top: 5rem;
    }
  }
  &-right-panel{
    background-color: #e1fcf3;
  }
}

.register {
  background-color: #e1fcf3;

  .panel{
    min-height: 100%;
    overflow-y: scroll;
  }
}

.hexagon {
  &-top{
    position: absolute;
    background: url(/images/hexagon-top.png) no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    width: 17%;
    height: 25%;
  }
  &-bottom{
    position: absolute;
    background: url(/images/hexagon-bottom.png) no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    width: 19%;
    height: 25%;
  }
}

p.strike-bg {
  font-size: larger;
  position: relative;
  z-index: 1;

  &:before {
      border-top: 1px solid #343a40;
      content:"";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
  }

  span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #e1fcf3;
      padding: 0 15px;
  }
}

.text-orange{
  color: #fdd60c;
}

.btn-orange{
  background-color: #fdd60c;
}
