
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

html, body {
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.login {
  &-left-panel{
    background-color: #00b69f;

    .content-area{
      margin-top: 5rem;
    }
  }
  &-right-panel{
    background-color: #e1fcf3;
  }
}

.register {
  background-color: #e1fcf3;
  background: url(/images/reg-bottom.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.panel{
  height: 100%;
  overflow-y: scroll;
}

.hexagon {
  &-top{
    position: absolute;
    background: url(/images/hexagon-top.png) no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    width: 17%;
    height: 25%;
  }
  &-bottom{
    position: absolute;
    background: url(/images/hexagon-bottom.png) no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    width: 19%;
    height: 25%;
  }
}

p.strike-bg {
  font-size: larger;
  position: relative;
  z-index: 1;

  &:before {
      border-top: 1px solid #343a40;
      content:"";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
  }

  span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #e1fcf3;
      padding: 0 15px;
  }
}

.sidebar-container {
  &:after {
    content: "";
    background: url(/images/hexagon-nav.png);
    width: 60%;
    height: 28%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
  }
}

.nav{
  &-item {
    position: relative;
    z-index: 20;
  }

  &-link {
    padding: 0.5rem 3rem;
    color: #343a40;

    &:hover {
      background-color: #00b69f;
      color: white;
    }

    &.active {
      background-color: #00b69f;
      color: white;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-right: 22px solid white;
        z-index: 100;
      }
    }

  }
}

#accordion {
  .card-header {
    background-color: #00b69f;

    .btn-link {
      color: white;
    }
  }
}

.text-orange{
  color: #fdd60c;
}

.text-green {
  color: #00b69f;
}

.btn-orange{
  background-color: #fdd60c;
}

.btn-green {
  background-color: #00b69f;
}

.shadow-left {
  box-shadow: 0px 0px 20px 0px #c9c5c5;
}

.h-80
{
  height: 80% !important;
}

img.preview {
    max-width: 600px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}
